html,
body,
.container,
form {
  height: 100%;
}
nav {
}
.home {
  background-color: forestgreen;
}
.search {
  background-color: hotpink;
}
.logout {
  background-color: rebeccapurple;
}

.footer {
  background-color: coral;
  display: flex;
}

.footer > div {
  background-color: darkkhaki;
  min-width: 300px;
}
